<?xml version="1.0" encoding="utf-8"?>

<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IB2BDBService" closeTimeout="00:10:00" receiveTimeout="00:10:00"
          sendTimeout="00:00:10" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.1.1.103:1001/B2BTestDBService/B2BDBService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IB2BDBService"
                contract="B2BTestDBService.IB2BDBService" name="BasicHttpBinding_IB2BDBService" />
        </client>
    </system.serviceModel>
</configuration>
