<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!--
        closeTimeout 关闭连接的最大时间
        sendTimeout 向服务器端发送数据的最大时间,超出此时间会报超时
        receiveTimeout 接收服务端返回数据的最大时间,超出此时间会报超时
        maxBufferSize 向服务器端发送的最大数据长度
        maxReceivedMessageSize 从服务器端接收的最大数据长度
        -->
        <binding name="BasicHttpBinding_IB2BDBService" closeTimeout="00:10:00" receiveTimeout="00:10:00"
          sendTimeout="00:30:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" /> 
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.7.46.42:9000/AskeyB2BService/B2BDBService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IB2BDBService"
          contract="B2BDBService.IB2BDBService" name="BasicHttpBinding_IB2BDBService" />
    </client>
  </system.serviceModel>
</configuration>


<!--
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IB2BDBService" closeTimeout="00:10:00" receiveTimeout="00:10:00"
          sendTimeout="00:10:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" /> 
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.7.46.42:9000/AskeyB2BService/B2BDBService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IB2BDBService"
          contract="B2BDBService.IB2BDBService" name="BasicHttpBinding_IB2BDBService" />
    </client>
  </system.serviceModel>

-->