<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AskeyB2BService.TWTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!--
        closeTimeout 关闭连接的最大时间
        sendTimeout 向服务器端发送数据的最大时间,超出此时间会报超时
        receiveTimeout 接收服务端返回数据的最大时间,超出此时间会报超时
        maxBufferSize 向服务器端发送的最大数据长度
        maxReceivedMessageSize 从服务器端接收的最大数据长度
        -->
        <binding name="BasicHttpBinding_IB2BDBService" closeTimeout="00:10:00" receiveTimeout="00:10:00"
          sendTimeout="00:10:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.1.1.103:9000/AskeyB2BService/B2BDBService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IB2BDBService"
          contract="B2BDBService.IB2BDBService" name="BasicHttpBinding_IB2BDBService" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <AskeyB2BService.TWTest.Properties.Settings>
      <setting name="AskeyB2BService_TWTest_SqlHelper_Service" serializeAs="String">
        <value>http://10.1.1.103:1000/SqlHelper/Service.asmx</value>
      </setting>
    </AskeyB2BService.TWTest.Properties.Settings>
  </applicationSettings>
</configuration>